[submodule "Odin_Recipes"]
	path = Odin_Recipes
	url = https://github.com/ChamsFares/Odin_Recipes.git
[submodule "Landing_Page"]
	path = Landing_Page
	url = git@github.com:ChamsFares/Landing_Page.git
[submodule "Foundations/calculator"]
	path = Foundations/calculator
	url = git@github.com:ChamsFares/calculator.git
[submodule "Intermediate/Sign_up_Form"]
	path = Intermediate/Sign_up_Form
	url = git@github.com:ChamsFares/Sign_up_Form.git
