[submodule "Odin_Recipes"]
	path = Odin_Recipes
	url = https://github.com/ChamsFares/Odin_Recipes.git
[submodule "Landing_Page"]
	path = Landing_Page
	url = git@github.com:ChamsFares/Landing_Page.git
[submodule "Foundations/calculator"]
	path = Foundations/calculator
	url = git@github.com:ChamsFares/calculator.git
[submodule "Intermediate/Sign_up_Form"]
	path = Intermediate/Sign_up_Form
	url = git@github.com:ChamsFares/Sign_up_Form.git
[submodule "Intermediate/Admin_Dashboard"]
	path = Intermediate/Admin_Dashboard
	url = git@github.com:ChamsFares/Admin_Dashboard.git
[submodule "Intermediate/js/Library"]
	path = Intermediate/js/Library
	url = git@github.com:ChamsFares/Library.git
[submodule "Intermediate/js/Tic_Tac_Toe"]
	path = Intermediate/js/Tic_Tac_Toe
	url = git@github.com:ChamsFares/Tic_Tac_Toe.git
[submodule "Intermediate/js/Restaurant_Page"]
	path = Intermediate/js/Restaurant_Page
	url = git@github.com:ChamsFares/Restaurant_Page.git
[submodule "Intermediate/js/ToDo_List"]
	path = Intermediate/js/ToDo_List
	url = git@github.com:ChamsFares/ToDo_List.git
[submodule "Intermediate/js/Weather_App"]
	path = Intermediate/js/Weather_App
	url = git@github.com:ChamsFares/Weather_App.git
[submodule "Intermediate/Git_History_Odin"]
	path = Intermediate/Git_History_Odin
	url = git@github.com:ChamsFares/Git_History_Odin.git
[submodule "Intermediate/js/Testing_practice"]
	path = Intermediate/js/Testing_practice
	url = git@github.com:ChamsFares/Testing_practice.git
[submodule "Intermediate/js/Battleship_game"]
	path = Intermediate/js/Battleship_game
	url = git@github.com:ChamsFares/Battleship_game.git
[submodule "Advanced/Home_Page"]
	path = Advanced/Home_Page
	url = git@github.com:ChamsFares/Home_Page.git
[submodule "React/CV_Application"]
	path = React/CV_Application
	url = git@github.com:ChamsFares/CV_Application.git
