[submodule "NodeJS/Mini_Message_Board"]
	path = NodeJS/Mini_Message_Board
	url = git@github.com:ChamsFares/Mini_Message_Board.git
[submodule "NodeJS/Inventory_Application"]
	path = NodeJS/Inventory_Application
	url = git@github.com:ChamsFares/Inventory_Application.git
[submodule "NodeJS/Members_Only"]
	path = NodeJS/Members_Only
	url = git@github.com:ChamsFares/Members_Only.git
